.login-header {
    background-color: var(--first-color);
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 95%;
}

.login-header h1 {
    margin: 0;
    color: white;
    font-size: 28px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #aaa;
}

.login-form label {
    font-weight: bold;
    color: #012;
}

.login-form input {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-btn {
    background-color: var(--first-color);
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #379fee;
}

.create-account {
    font-size: 14px;
    text-align: left;
    margin-top: 0.5rem;
    color: #012;
    text-decoration: underline;
}