.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background 0.4s;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
    z-index: 2;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #0078bf;
}

.toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(26px);
}

.logo {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;

}

#group {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align all items vertically */
    gap: 15px;
}
.toggle-container{
    display: flex;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 150px;
    overflow: hidden;
    z-index: 10;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background 0.3s;
}

.dropdown-menu a:hover {
    background: #f0f0f0;
}


.profile-img{
    display: flex;
}


.profile-img img {
    width: 32px; /* Adjust size */
    height: 32px;
    border-radius: 50%; /* Makes it circular */
}

.logo img {
    height: 50px; /* Adjust logo size */
    width: auto;
    margin-right: 10px;
    /* Space between logo and text */
}

.website-name {
    font-size: 24px; /* Adjust text size */
    font-weight: bold;
    color: white; /* Matches header text color */
    white-space: nowrap; /* Prevents text wrapping */
}
